{% extends "master.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <h1>Registration</h1>

  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <label for="login">Login:</label>
    <input type="login" id="login" name="login" value="test"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="dupa"><br>

    <label for="repeatedPassword">Repeat password:</label>
    <input type="password" id="repeatedPassword" name="repeatedPassword" value="dupa"><br>

    <input type="submit" value="Register">
  </form>

  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}

  <p><a href="/">HOME</a></p>

{% endblock %}